[submodule "test/ext/fmt"]
	path = test/ext/fmt
	url = https://github.com/fmtlib/fmt
[submodule "test/ext/Catch"]
	path = test/ext/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "test/ext/benchmark"]
	path = test/ext/benchmark
	url = https://github.com/google/benchmark.git
